p{
color: #0C1618;
font-family: "Share Tech";
}

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    text-align: center;
    font-family:"Share Tech" ;
    color: #faf4d3;
    background-color:#004643
    
}
body{
    background-color: #faf4d3;
    
}
.img{
    border: dotted;
}

p2{
color:  red;

}